* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
}
input {
    border: 2px solid #415a93;
    border-radius: 5px;
    width: 100%;
    padding: 0.625em;
    box-sizing: border-box;
    margin-top: 0.5em;
}
label {
    color: #415a93;
    font-weight: 900;
    
}
button {
    background: #415a93;
    color: white;
    border: 2px solid #415a93; 
    margin-top: 0.5em;
    padding: 0.625em 1.25em;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
li {
    list-style-type: none;
    margin-top: 5px;
}
a {
    color: #415a93;
}
ul {
    padding: 5px 0;
    margin-top: 5px;
}
#delete-btn {
    background: none;
    border: 2px solid #415a93;
    color: #415a93;
}
@media (max-width: 760px) {
    input {
        
        width: 100%;
    }
    button {
        margin: 0.75em auto;;
        width: 100%;
        padding: 0.75em 1.25em;
        display: block;
        
    }
}